[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "Some scripts to automate everyday life actions "
[access "refs/*"]
	owner = group user/elian0072
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/elian0072
	label-Verified = -1..+1 group user/elian0072
	push = group user/elian0072
	read = group user/elian0072
	rebase = group user/elian0072
	removeReviewer = group user/elian0072
	submit = group user/elian0072
[access "refs/heads/*"]
	create = group user/elian0072
	push = +force group user/elian0072
	pushMerge = group user/elian0072
	read = group user/elian0072
[access "refs/tags/*"]
	push = group user/elian0072
	push = +force group user/elian0072
